/** This file contains the default theme definitions for the admin interface. Please put mostly SCSS variable definitions in here, and leave the actual styling to _style.scss and auxilliary files. */
/** ----------------------------------------------- Colours ------------------------------------------------ */
/* Keep as solid colours transparent borders wont work in ie */
/* Only for use as shadows as they wont work in older browsers */
/*$color-optional: #a1d2eb !default; */
/** ----------------------------------------------- Textures ----------------------------------------------- */
/** ----------------------------------------------- Typography.  ------------------------------------------------ */
/** ----------------------------------------------- Grid Units (px)  We have a vertical rhythm that the grid is based off both x (=horizontal) and y (=vertical). All internal padding and margins are scaled to this and accounting for paragraphs ------------------------------------------------ */
/** ----------------------------------------------- Application Logo (CMS Logo) Must be 24px x 24px ------------------------------------------------ */
.ss-selectuploadfield .ss-uploadfield-item { overflow: visible; }
.ss-selectuploadfield .ss-uploadfield-item .ss-uploadfield-item-info .ss-uploadfield-item-name .change-folder { color: #0073c1; cursor: pointer; }
.ss-selectuploadfield .ss-uploadfield-item .ss-uploadfield-item-info .ss-uploadfield-item-name .change-folder:hover { text-decoration: underline; }
.ss-selectuploadfield .ss-uploadfield-item .ss-uploadfield-item-info .select-folder-container { margin: 0 0 10px 0; display: none; }

.ss-insert-media .ss-selectassetuploadfield .ss-uploadfield-addfile .step-label .change-folder { color: #0073c1; cursor: pointer; }
.ss-insert-media .ss-selectassetuploadfield .ss-uploadfield-addfile .step-label .change-folder .change { font-weight: normal; }
.ss-insert-media .ss-selectassetuploadfield .ss-uploadfield-addfile .step-label .change-folder:hover { text-decoration: underline; }
.ss-insert-media .ss-selectassetuploadfield .ss-uploadfield-addfile .select-folder-container { margin: 0 0 10px 20px; display: none; }
